x-tpl_chat {
	width: 100%;
	height: 100%;
	display: grid;
	grid-gap: 0;
	padding: 0;
	grid-template-rows: fit-content(50px) auto 40px;
	grid-template-columns: auto 100px;
	grid-template-areas: 'chatInfo chatInfo' 'chatHistory chatHistory' 'chatMessage chatSend' ;
}

x-tpl_chat .info {
	grid-area: chatInfo;
	display: block;
	padding-top: 10px;
	background: rgb(21, 17, 38);
	border-left: 1px solid black;
}

x-tpl_chat .info div {
	padding: 0 20px;
}

x-tpl_chat .info .address {
	color: rgb(136, 136, 136);
	font-size: 12px;
}

x-tpl_chat .info .status {
	padding-top: 10px;
	padding-bottom: 10px;
}

x-tpl_chat .info .status.disconnected {
	color: mediumvioletred;
}

x-tpl_chat .info .status.connecting {
	color: yellow;
}

x-tpl_chat .info .status.connectionRequest {
	color: cyan;
}

x-tpl_chat .info .status.connected {
	color: green;
}

x-tpl_chat .info .status.handshake {
	color: darkorange;
}


x-tpl_chat .info .connectionConfirm {
	border-top: 1px solid black;
	padding: 20px 20px;
}

x-tpl_chat .info .connectionConfirm button {
	margin: 0 0 0 20px;
}

x-tpl_chat .history {
	grid-area: chatHistory;
	display: block;
	width: 800px;
	margin: 0 auto;
	overflow: auto;
}

x-tpl_chat .message {
	grid-area: chatMessage;
	display: block;
	margin-left: 1px;
}

x-tpl_chat .message input {
	background: #151126;
	width: 100%;
	padding: 10px 20px;
	font-size: 16px;
	box-sizing: border-box;
	border: 0;
	color: white;
	outline: none;
}

x-tpl_chat .message input:focus::placeholder {
	color: #333;
}


x-tpl_chat .send {
	grid-area: chatSend;
	display: block;
}

x-tpl_chat .send button {
	width: 100%;
	height: 100%;
	border: 0;
	color: cornflowerblue;
	background: #151126;
}

div.fromAddress, div.toAddress {
	margin-top:10px;
}

.historyMessage {
	padding: 10px 10px 5px 20px;
	width: 450px;
	border-radius: 8px;
	box-sizing: border-box;
	text-align: left;
	display: inline-block;
	margin: 5px 10px;
	color: white;
}

.historyMessage .status {
	color: yellow;
}

.historyMessage.isMy {
	float: right;
	background: #291c6b;
}
.historyMessage.isNotMy {
	float: left;
	background: #16102d;
}

.historyMessage .date {
	text-align: right;
	font-size: 12px;
	color: gray;
}
