<template name="Tpl_auth">
	<div class="auth">
		<h1>DiffyChat</h1>

		<h3>Enter your mnemonic phrase</h3>
		<div>
			<input class="phrase" value="{{m.phrase}}" onkeydown="self.onKeydown('auth', e);" placeholder="Your phrase">
		</div>

		<button onclick="self.auth(this);">Auth</button>
	</div>
</template>


<template name="Tpl_register">
	<div class="auth">
		<h1>DiffyChat</h1>

		<h3>Register new username</h3>
		<div>
			<input class="phrase" value="{{m.username}}" onkeydown="self.onKeydown('register', e);" placeholder="Your username">
		</div>

		<button onclick="self.register();">Register</button>
	</div>
</template>